.navbar{
    box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.3);
}
.navbar-brand{
    font-weight: 700;
}
.nav-item{
    font-weight: 500;
    padding-right: 20px;
}


.resume_download{
    font-weight: 600;
    border: 2px;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: white;
}
/* Change the background and text color of active pills */
.nav-pills .nav-link.active {
    background-color: red; 
    color: white;              
  }
  
  /* Change the background and text color of non-active pills */
  .nav-pills .nav-link {
   
    margin-right: 5px;      
  }
  .detail_section{
    width: 100%;
    height: auto;
  }
  .detail_section:nth-child(odd){
        background-color: rgb(20, 19, 19);
        
        /* display: flex; */
        color: white;
        /* justify-content: center; */
  }
  .detail_section:nth-child(even){
 
    background-color: rgb(37, 37, 37);
 
}
.header{
    display: flex;
    /* margin-top: 500px; */
    justify-content: center;
    align-items: center;
    
}
.h-100{
    height: 100%;
    width: 100%;
}

.btn1{
    
    border-radius: 15px;
    padding:5px 15px 5px;
    
    border: none;
    
    font-weight: 600;
    
    box-shadow: 0 0 5px #eb0e0e,0 0 25px #eb0e0e;
}
.btn1:hover{
    box-shadow: 0 0 5px #eb0e0e,0 0 25px #eb0e0e,0 0 50px #eb0e0e,0 0 100px #eb0e0e,0 0 200px #eb0e0e;
}
.btn1 a{
    text-decoration: none;
    color:White;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  
.text-container {
    flex: 1 1 50%;
    color: white;
}
  
.image-container {
    flex: 1 1 50%;
    text-align: center;
    height: 500px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 40px;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.6);
}
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  @media(max-width: 1024px) and (min-width:600px) {
    .text-container {
      font-size: 18px; /* Increase font size for smaller screens */
    }
    
    .image-container img {
      width: 60%;
      height: 65%; 
    }
    .home_container{
      padding-bottom: 30px;
      padding-top: 40px;
    }
  }
  
  @media(max-width: 600px) {
    .text-container {
      font-size: 16px; /* Further increase for very small screens */
    }
    
    .image-container img {
      display: flex;
      justify-content: flex-end;
      width: 70%; 
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }
  .home_container{
    padding-top: 10px;
  }
  
  /* @media screen and (max-width: 600px) {
    .text-container {
      font-size: 14px; 
    }
    
    .image-container img {
      width: 60%; 
    }
  } */

.icon_fix{
    font-size: 25px;
    transition: transform 0.3s, box-shadow 0.3s;
 }
 .icon_fix a{
     text-decoration: none;
     color: white;
     margin-right: 8px;
 
 }
 .icon_fix a i:hover{
     transform: scale(1.2);  
     color: #eb0e0e;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
 }
 .header1{
  justify-content: center;
  text-align: center;
  font-weight: 700;

}
span{
  color: #eb0e0e;
  
}
.card{
  background-color: rgb(37, 37, 37);
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-right: 30px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), /* Light shadow */
              0 6px 20px rgba(0, 0, 0, 0.5);
}

.card_flex {
  
  transition: transform 0.3s ease; /* Adds a smooth transition effect */
}
.card_flex:hover{

  
  transform: scale(1.1);
}

@media(max-width:600px){
  #my_image{
    height: 50%;
    width: 50%;
    justify-content: center;
    margin-bottom: 20px;
  }

  #image_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .fa-solid{
    font-size: 12px;
    color: red;
  }
  #biography{
    padding-top: 30px;
    
  }
  .image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    height: 75%;
    width: 75%;
    margin-top: 25px;
    /* padding-top: 15px; */
    margin-bottom: 30px;
  }
  .card{
    height: 100px;
    width: 100px;
    
    
  }
  .card_row{
    display: block;

    
  }
  .skill_icon{
    height: 100px;
    width: 100px;
  }
  .card_flex:hover{

  
    transform: scale(1.1);
  }
  .card-title{
    display: none;
  }
  
}
@media(max-width:1000px){
  .resume_download{
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .nav-item{
    width: 100px;
  }
}
@media (max-width:400px){
  
  .skill_card{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
  }
 
  .card_flex:hover{

  
    transform: scale(1.1);
  }
  .card-title{
    font-size: 50%;
  }
  
}
@media(max-width:500px) and (min-width:0px) {
  .card{
    height: 100px;
    width: 100px;
  }
  .skill_icon{
    height: 160px;
    width: 160px;
  }
  .skill_card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
  }
 

  .card_flex:hover{

  
    transform: scale(1.1);
  }
  .card-title{
    font-size: 50%;
  }
}

/* project section styling */


.project_image{
  transition: all 0.2s ease;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 20px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7), 0px -4px 8px rgba(0, 0, 0, 0.7), 4px 0px 8px rgba(0, 0, 0, 0.7), -4px 0px 8px rgba(0, 0, 0, 0.7);
}
.project_image:hover{

  
  transform: scale(1.1);
}
@media(max-width:1000px){
  .project_card{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .project_card button{
    width: 35%;
    height: 75%;
    font-weight: 400;
  }
}


/* contact section */



@media(max-width:600){
 
  #contact_text{
    font-size: 18px;
  }
  .icon1{
    display: none;
  }
  .contact_center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.form_input{
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  display: block;
  color: white;
  background-color: transparent;
}

#submit_button{
        display: block;
        margin-bottom: 10px;
        width: auto; 
        background-color: #eb0e0e;
        color: white;
        border: none;
        padding: 5px;
        cursor: pointer;
        border-radius: 10px;
        transition: transform 0.3s ease;
        
}
#submit_button:hover {
  
  transform: scale(1.1);
}

 
 
@media(max-width:580px)and(min-width:0px){
  .contact_center{
   padding-left: 60px;
   
  
  }
}

/* footer section */


.icon_footer i{
  padding-right: 10px;
}
.footer_nav{
  color: black;
}
.fa-solid{
  color: #eb0e0e;
}
@media(max-width:600px){

  .nav_footer{
    display: flex;
    justify-content: flex-start;
  }
  .nav_footer ul{

    display: flex;
  }
  .nav_footer ul li{
    margin:0 8px;
  }
  .text_some{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}